<!DOCTYPE html>
<html>
<head>
  <title>Todo component</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "todo_component/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
