<!-- inside app/views/welcome/index.html.erb -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #343951;">
  <div class="container-fluid justify-content-center">
    <div class="row">
      <a class="navbar-brand" href="#">The Pizza Project 🍕</a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row justify-content-center justify-content-equally mt-5">
    <% todo_lists.each do |list| %>
    <div class="col p-5">
        <div class="card" style="background-color: #E4EBEF;">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 justify-content-left">
                <h5 class="card-title"><%= list[1] %></h5>
              </div>
              <div class="col-md-6 text-right">
                <button type="button" class="btn btn-primary btn-sm justify-content-end"  style="background-color: #5EA5EE">✚ Add</button>
              </div>
            </div>
            <% todos_by_list(list[0]).each do |action| %>
            <div class="row pb-2">
              <input class="form-control" type="text" placeholder="<%= action[1] %>">
            </div>
            <% end %>
           </div>
        </div>
    </div>
    <% end %>
   </div>
</div>
