<div class="container-sm">
<%= form_with url: "/todo", method: :post do |form| %>

    <div class="row  mb-3 mt-3 justify-content-center">
      <div class="col-md-3">
        <label for="cardCreaton" class="form-label"><h4>Card Creation</h4></label>
       </div>
    </div>
    <div class="row mb-3 mt-3 justify-content-center">
      <div class="col-md-3">
        <%= form.text_field :name, size: "25", minlength: "3", required: true %>
        </div>
    </div>
    <div class="row mb-3 mt-3 justify-content-center">
      <div class="col-md-2">
        <%= form.submit "Submit" %>
      </div>
      <div class="col-md-1">
        <%= link_to 'Back', root_path %>
      </div>
    </div>
<% end %>

</div>
